<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sinatra Colors</title>

  <link rel="stylesheet" href="css/style.css">

  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Limelight|Pacifico' rel='stylesheet' type='text/css'>

  <script src='src/script.js'></script>
</head>

<body>
  <nav>
    <button class="view">Saved Color Palettes</button>
    <button class="save">Save this Palette</button>
  </nav>

  <div class="center">
    <h1 class="fill-name"></h1>
    <button class="next-palette">Next Palette</button>
  </div>

  <div class="fill">
    <div class="palettes"></div>
  </div>

</body>
</html>
