<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sinatra Colors</title>

  <link rel="stylesheet" href="css/style.css">

  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Limelight|Pacifico' rel='stylesheet' type='text/css'>

  <script src='src/script.js'></script>
</head>

<body>

  <div class="color-list">
  </div>

</body>
</html>
