<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sinatra Colors</title>

  <link rel="stylesheet" href="css/style.css">

  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Limelight|Pacifico' rel='stylesheet' type='text/css'>

  <script src='src/script.js'></script>
</head>

<body>
  <nav>
    <a href='/' class="view">Discover Palettes</a>
  </nav>

  <div class="wrapper">
    <h2>All the Palettes</h2>

    <% @palettes.each do |palette| %>
      <div class="palette">
      <h4><%= palette.title %></h4>
      <% palette.colors.each do |color| %>
        <div class="color" style='background-color:<%= color %>'><%= color %></div>
      <% end %>
      </div>
    <% end %>
  </div>

</body>
</html>
